body {
  font-family: Verdana, sans-serif;
  color: #5e463e;
}

header {
  display: flex;
  justify-content: center;
  background-color: #debaa6;
  padding: 40px 20px;
  align-items: center;
}

header > h1 {
  color: #fff8ec;
  font-size: 25px;
  font-weight: normal;
  padding-left: 20px;
}

section > h1 {
  font-weight: normal;
  text-align: center;
  margin-top: 50px;
}

section > h2 {
  font-weight: normal;
  text-align: center;
  font-size: 10px;
  margin-bottom: 50px;
}

.threeFavorites {
  display: flex;
  justify-content: center;
}

.favorite {
  display: inline-block;
  padding: 20px 40px;
  text-align: center;
  font-weight: normal;
  font-size: 8px;
  width: 200px;
  cursor: pointer;
}
